In [56]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import plotly as ly

In [57]:
df_albums = pd.read_csv('spotify_albums.csv')
df_albums_novo = df_albums.rename(columns={"album_type": "tipo_album", "available_markets": "mercados_disponiveis", "name": "nome", "release_date": "data_lancamento", "total_tracks": "qtd_faixas"})
df_albums_novo = df_albums_novo.drop(['artist_id', 'external_urls', 'href', 'id', 'images', 'release_date_precision', 'track_id', 'track_name_prev', 'uri', 'type'], axis=1)
df_albums_novo.head(2)

,Unnamed: 0,tipo_album,mercados_disponiveis,nome,data_lancamento,qtd_faixas
0,0,single,"['AD', 'AE', 'AR', 'AT', 'AU', 'BE', 'BG', 'BH...",If I Ain't Got You EP,2019-02-08,6
1,1,album,"['AD', 'AE', 'AR', 'AT', 'AU', 'BE', 'BG', 'BH...",Shostakovich Symphony No.5 - Four Romances on ...,2019-03-01,8

In [58]:
df_artists = pd.read_csv('spotify_artists.csv')
df_artists_novo = df_artists.rename(columns={"artist_popularity": "popularidade", "followers": "seguidores", "genres": "generos", "name": "nome"})
df_artists_novo = df_artists_novo.drop(['id', 'track_id', 'track_name_prev', 'type'], axis=1)
df_artists_novo.head(2)

,Unnamed: 0,popularidade,seguidores,generos,nome
0,0,44,23230,"['sertanejo', 'sertanejo pop', 'sertanejo trad...",Juliano Cezar
1,1,22,313,[],The Grenadines

In [59]:
df_tracks = pd.read_csv('spotify_tracks.csv')
df_tracks_novo = df_tracks.rename(columns={"acousticness": "acusticidade", "available_markets": "mercados_disponiveis", "country": "pais", "danceability": "danceabilidade", "duration_ms": "duracao_ms", "energy": "energia", "instrumentalness": "instrumentalidade", "key": "chave", "liveness": "vivacidade", "loudness": "intensidade", "mode": "modo", "name": "nome", "popularity": "popularidade", "speechiness": "fala", "tempo": "andamento", "time_signature": "tempo_ritmico", "valence": "positividade" })
df_tracks_novo = df_tracks_novo.drop(['album_id', 'analysis_url', 'artists_id', 'disc_number', 'href', 'id', 'lyrics', 'playlist', 'preview_url', 'track_href', 'track_name_prev', 'track_number', 'uri', 'type'], axis=1)
df_tracks_novo.head(2)

,Unnamed: 0,acusticidade,mercados_disponiveis,pais,danceabilidade,duracao_ms,energia,instrumentalidade,chave,vivacidade,intensidade,modo,nome,popularidade,fala,andamento,tempo_ritmico,positividade
0,0,0.294,"['AD', 'AE', 'AR', 'AT', 'AU', 'BE', 'BG', 'BH...",BE,0.698,235584.0,0.606,0.000003,10.0,0.151,-7.447,0.0,Blood,28.0,0.0262,115.018,4.0,0.622
1,1,0.863,"['AD', 'AE', 'AR', 'AT', 'AU', 'BE', 'BG', 'BH...",BE,0.719,656960.0,0.308,0.000000,6.0,0.253,-10.340,1.0,The Ugly Duckling,31.0,0.9220,115.075,3.0,0.589